<div class="form"><h2>Contacts</h2></div>


<div class="form-control">
    <div>
        <h5><b>Email:- </b> suraj79572@gmail.com</h5>
    <h5><b>Tel No:- </b> +22 3757 5475</h5>
    </div>
    
    {{!-- <h5><b>Email - </b> </h5> --}}

</div>